.header {
  background-color: #282c34;
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  z-index: 500;
}

img {
  z-index: 5;
  border: solid 1px white;
}
.btnsize{
  max-height: 45px;
}


.body {
  background-color: #3c68c0;
  min-height: 1000px;
}


.close:hover {
  cursor: pointer;
  color: white;
}


.close {
  font-size: 45px;
  font-weight: 900;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 275px;
  left: 250px;
}

.footer {
  background-color: #282c34;
  height: 50px;
  position: sticky;
  bottom: 0;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  z-index: 500;
}